{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8"
      }
    }]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "babel-plugin-source-map-support"
  ]
}
