{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true,
      "exportDefaultFrom": true
    }
  },
  "env": {
    "targets": {
      "node": 18
    }
  }
}
